// FLEX-BOX
.flex {
  display: flex;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.justify-center {
    display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
