.sidebar {
  background-color: $secondary;

  overflow-y: auto;
  overflow-x: hidden;

  position: fixed;
  top:0;
  bottom: 0;

  .logo {
    width: 8rem;
    height: 64px;
    margin: 0 auto;
  }

  .toggle-menu {
    width: 2rem;
    margin: 0 auto;
    cursor: pointer;
    color: $black;
    & > * {
      width: 100%;
    }

    &:hover {
      color: $primary;
    }
  }
}

// OVER-RIDE

.ant-layout-sider-trigger {
  background-color: $gray-dark;
}

.ant-menu {
  background-color: $secondary;
}

.ant-menu-item-active {
  background-color: transparent;
}

.ant-menu-item-group-title {
  text-transform: uppercase;
  font-weight: 500;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
}
.ant-layout-sider-collapsed {
  transition: all 0.2s ease;

  .logo {
    width: 6rem;
  }

  & + .main {
    margin-left: 80px;
  }

  .ant-menu-item-group-title {
    //   margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
  }
}
