.main{
  margin-left: 200px;
  transition: all 0.2s ease;
}

.top-header {
  // width: calc(100%-200px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  .active {
    color: $primary;
    font-weight: 500;
  }

  .search {
    flex: 0 0 30%;
  }

  .nav__icons {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      color: $gray-light;
      font-size: 1.6rem;
      transition: all 0.2s ease;

      &:hover {
        color: $primary;
        transform: scale(1.1);
      }
    }

    .user-nav {
      align-self: center;
      height: 4rem;
      border-radius: 1rem;
      background-color: $gray-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 2rem;
      transform: translateY(-3px);

     
      &__name {
        color: $gray-light;
        font-size: 1.5rem;
        margin-left: 1rem;

        // @media only screen and (max-width: 692px){
        //   display: none;
        // }
      }
    }
  }
}

// Over ride

.ant-layout-header {
  background: none;
  height: auto;
  padding: 0;
}
