.home {

  &__trending-list {
    padding: 2rem 0;
  }

  &__library {
    padding: 2rem;
    margin-top: 5rem;
  }
}

.home__trending--title {
  font-size: 1.8rem;
  color: $text;
}

.trending-song {
  margin-left: 3rem;
  margin-top: 2rem;
  padding: 2rem 0;

  &__title {
    font-size: 6rem;
    color: $text;
    font-weight: 700;
    line-height: 2rem;
    @media screen  and(max-width: 486px) {
      font-size: 4rem;
    }
  }

  &__artist {
    font-weight: 500;
    font-size: 2rem;
    color: $text;
    margin-bottom: 2rem;
  }

  .btn--favourite {
    padding: 1rem;
    svg {
      path {
        fill: $primary;
      }
    }
  }
}

.library {
  height: auto;
  &__chart {
    margin-right: 2rem;
  }
  .charts {
    height: auto;
  }
}

.home-genres {
  // border: 1px solid orange;
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;

  .genres__list {
    display: flex;
    // align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem 0;

    @media only screen and(min-width: 768px) and (max-width: 992px) {
      flex-direction: column;

      .genres__item {
        flex: 1;
      }
    }
    .genres__item {
      margin: 1rem;
      color: $gray-dark;
      font-weight: 500;
      font-size: 1.5rem;
      border-radius: 1rem;
      padding: 1.5rem 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div:nth-child(odd) {
      flex: 2;
      background-color: #caf7e3;
    }

    div:nth-child(even) {
      flex: 1 1 10rem;
      background-color: #f6dfeb;
      text-align: center;
    }
  }
}

.home-top-artists {
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;

  .artists {
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 720px) {
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  .artist {
    height: auto;

    &__img {
      width: 8rem;
      height: 8rem;
      border-radius: 1rem;
    }

    &__name {
      display: block;
      font-size: 1.6rem;
      color: $text;
      text-align: center;
      font-weight: 600;
    }
  }
}

.home-top-charts {
  height: 100%;
  background-color: $white;
  padding: 1rem;
  border-radius: 1rem;

  .top-charts__list {
    // height: 30rem;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
  }
  
  .songList__table{
    width: 100%;
  }


  .ant-table-cell:first-child{
    padding: 1rem;
    padding-right: 0;
  }

  

  .btn--play{
    color: $primary;
  }

  .btn--playlist-add{
    border: none;
    color:$text-secondary;
  }

  .song--detail{
    display: flex;
    align-items:center;

    img{
      object-fit: cover;
      width:6rem;
      height:6rem;
      margin-right: 1rem;
      border-radius:1rem;
    }

    h3{
      font-size:1.6rem;
      font-weight:600;
      color: $text;
      margin: 0;
      padding:0;
    }

    p{
      color: $text-secondary;
      margin: 0;
      padding: 0;
    }


  }
  // .song-row {
  //   // flex: 1;
  //   // height: 4rem;
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   // flex-wrap: wrap;
  //   margin-bottom: 1rem;
  //   transition: all 0.3s ease-in;
  //   padding: 0 1rem;

  //   @media only screen and (max-width: 400px) {
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     text-align: center;

  //     .song-row__length {
  //       margin-right: 0;
  //     }
  //   }

  //   &:hover {
  //     background-color: #e5e5e5;
  //     color: $gray;
  //     cursor: pointer;
  //     // opacity: .5;
  //   }

  //   &__rank {
  //     padding-right: 1rem;
  //   }

  //   &__image {
  //     width: 4rem;
  //     height: 4rem;
  //     border-radius: 1rem;
  //   }

  //   &__info {
  //     flex: 1;
  //     padding-left: 1rem;
  //     & > h3 {
  //       margin: 0;
  //       padding: 0;
  //       color: $text;
  //       font-weight: 600;
  //     }
  //     p {
  //       margin: 0;
  //       padding: 0;
  //       font-size: 1.4rem;
  //       color: $text-secondary;
  //       font-weight: 500;
  //     }
  //   }
  //   &__length {
  //     margin-right: 5rem;
  //     text-align: center;
  //   }
  //   &__icons {
  //     text-align: center;
  //     transform: translateY(-5px);

  //     & > * {
  //       color: $gray-dark;
  //       font-size: 1.5rem;

  //       &:hover {
  //         color: $primary;
  //       }
  //     }
  //     &--play {
  //       margin-right: 1rem;
  //     }
  //   }
  // }
}

.home-music-player {
  background: $gray-dark;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 993px) {
    height: 50rem;
    margin-top: 2rem;
  }

  .player__title {
    color: $white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    &--main {
      color: $white;
    }
  }

  .player__song-info {
    height: 70%;
    display: grid;
    place-content: center;

    .song-card {
     
      width: 20rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      @media only screen and (max-width:486px){
        .song-card__img{
          width: 60%;
        }
      } 
      

      &__title {
        color: $white;
        font-size: 2rem;
        padding-top: 1rem;
      }

      &__artist {
        color: $white;
        font-size: 1.5rem;
      }
    }
  }

  .player__controls {
    height: 30%;
    background: $tertiary;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-btn {
      border: none;
      background-color: none;
      color: $white;
    }

    // override
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        color: $gray;
      }
    }

    .ctrl__icon {
      font-size: 2rem;
      font-weight: 300;

      &--play {
        font-size: 7rem;
      }
    }
  }

  .slider-wrapper {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .time-stamp {
      color: $white;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1rem;
    }

    .ant-slider {
      width: 100%;
    }
  }
}

// ANT SLICK ARROW OVERRIDE

.ant-carousel .slick-prev {
  left: auto;
  right: 1px;
  top: 190px;
  z-index: 20;
}
.ant-carousel .slick-next {
  right: 1px;
  top: 205px;
}

.ant-carousel-vertical .slick-dots {
  li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d6d6e6;

    &.slick-active {
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #d6d6e6;
    }

    &.slick-active button {
      background-color: $gray-dark;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  button {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d6d6e6;
  }
}
